* {
  margin: 0;
  padding: 0;
}

body {
  background-color: brown;
}
.nav {
  background-color: black;
  /* width: 100%; */
  /* height: 40px; */
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

li {
  /* background-color: black; */
  color: white;
  padding: 10px;

}
.slider {
  margin-top: 10px;
  background-image: url(https://cdn.yemek.com/mnresize/940/940/uploads/2016/05/ev-yapimi-hamburger.jpg);
  width: 100%;
  height: 600px;
  /* background-position: right 30px top 30%; */
  background-size: contain;
  background-repeat: no-repeat;
}
h1 {
  font-size: 50px;
  background-image: url(https://cdn.yemek.com/mnresize/940/940/uploads/2016/05/ev-yapimi-hamburger.jpg);
  width: 100%;
}
