body{

background-color: rgb(108, 108, 208);
  margin: 0;
  padding: 0;
  box-sizing: border-box;





}
  
  h1{
text-align: center;
background-color: brown;
  }
 .container {

display: flex;
justify-content: space-between;
align-items: center;
gap: 2rem;
width: 100%;
text-align: center;
background-color: blueviolet;



}
.container ul{
  display: flex;
list-style-type: none;
gap: 2rem;

  
}
ul,img{
  display: flex;
  gap: 2rem;
  /* border: 2px solid red; */
  border-radius: 10px;
  flex-wrap: wrap;

}

.p{
display: flex;
align-items: center;
height: 20px;

}
.par1{
  background-color: rgb(139, 94, 181);font-size: xx-small;background-color: blue;
}

.par2{
  background-color: rgb(163, 77, 77);

}
.par3{
  background-color: rgb(130, 169, 91);

}
