div{
    background-color: black;
  

}
p{
    background-color: white;
}
ul{
    background-color: white;
}
h1{
    text-align: center;
   background-color: white;
}
h2{
    text-align: center
}
p{
    text-align: center;
    background-color: white;
}
h3{
    color: red;
}
img{
    text-align: center;

}